<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <style>
    body {
      background-color: #FBAB7E;
      background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .card {
      background-color: whitesmoke;
      padding: 20px;
      width: 80vw;
      height:50vh;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .button-card {
      background-color: white;
      display: grid;
      padding: 20px;
      border-radius: 10px;
      margin: 0 10px;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .icon {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .function {
      font-size: 14px;
    }

    .hotel-title {
      position: absolute;
      top: 20px;
      left: 20px;
      color: white;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1 class="hotel-title">Hotel Legal</h1>
  <div class="card">
    <div class="button-card">
      <span class="icon">&#9787;</span>
      <span class="function">Funcionário</span>
    </div>
    <div class="button-card">
      <span class="icon">$</span>
      <span class="function">Salário Inicial</span>
    </div>
  </div>
</body>
</html>
