<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <style>
    body {
      background-color: #FBAB7E;
      background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .card {
      background-color: whitesmoke;
      padding: 20px;
      width: 80vw;
      height:50vh;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      text-align: center;
      display: grid;
      justify-content: center;
      align-items: center;
    }

    .input{
        color: white;
    }


    #botao{
      padding: 0.5vw;
      background-color:#FBAB7E;
      border-radius: 1vw;
    }

    .hotel-title {
      position: absolute;
      top: 20px;
      left: 20px;
      color: white;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1 class="hotel-title">Hotel Legal</h1>
  <div class="card">
    <div class="input">
        <form action="/salMinimo/alterar/:id""" method="POST">
            <input type="text" name="salario" placeholder="Digite o valor do salário mínimo">
            <div class="btn">
              <button type="submit" id="botao">Enviar</button>
            </div>
        </form>
    </div>
  </div>
</body>
</html>